@charset "UTF-08";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Matangi:wght@300..900&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


*{
    padding: 0;
    margin: 0;
    font-family:"Montserrat", sans-serif;
    box-sizing: border-box;
    letter-spacing: 1px; 
 
}


html {
  overflow-x: hidden;
  width: 100%;
  max-width: 100%;  
  height: 100%;
  margin: 0;
  min-height: 100vh;
}

body{
    background: #F2F2F2 ;
    background-size: cover;
    z-index: 10;
    display: flex; /*leva o footer para o fundo da página*/
    flex-direction: column;/*leva o footer para o fundo da página*/
    background: linear-gradient(#ECEFFE, #CED6FB);
    justify-content:space-between;
    overflow-x: hidden;
    height: 100vh;      
     
}
      

main{
    background: #F2F2F2 ;
    background-size: cover;    
    flex: 1;  
    z-index: 100;
    position: relative;
    
}

.imgfrente {
    
    background-size: cover;/*preenche todo o espaço com a imagem de fundo*/
    background-position: center;
    padding: 40px 40px;
    width: 100vw;    
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;   
}

.textohome {
    text-align: center;    
    font-family: "Raleway", sans-serif;
    padding: 2rem;
    /*width: 100%; max-width: 800px;min-width: 320px;*/
    width: 100vw;
    background: #fff; /* opcional: melhora leitura sobre a imagem */
    border-radius: 8px;
}

.textohome h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
    font-weight: normal;
    color: #000;
    font-weight: bold
}

.textohome p {
    font-size: 1.2rem;
    margin-bottom: 1rem;
    font-weight: normal;
    color:black;
}
     
      
      /*background-color: rgba(0, 0, 0, 0.0); /* fundo escuro transparente */
      /*.container: 20px;*/
     /*border-radius: 10px;*/
nav a{
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
    text-align:end;
}                                                                                                                                                                                                                                   
nav a:hover{
    opacity: 0.7;
}
p{
    font-family:"Montserrat", sans-serif;
    color: #fff;
    font-weight: bold;
    letter-spacing: 3.5px;
    margin: -10px 0px 10px 0px;
    font-size: 25px;
    justify-content: space-around;
}

        .nav-simbolos{
        margin-left: -6.8rem;
        margin-top: 1.5rem;
        transform: scale(0.5);
    }
.nav-simbolos img{
    
  max-width: 100%;
  height: auto;
  height: 15vh;
  justify-content:space-around;
  margin-bottom: 8px;
  margin-left: 0.2rem;
  align-items: center;
  transition: all 0.3s ease;
}
.nav-simbolos img:hover{
    opacity: 0.5;
}

.card-list {
  display: flex;           /* ativa o flexbox */
  margin-right: 15px;       /* empurra o container para a direita */
}
.card-list .card-item .card-link{
    user-select:none;
    display:block;
    background-color: #fff;
    padding: 20px;
    border-radius: 12px;
    text-decoration: none;
    border: 2px solid transparent;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.575); /* Sombra externa */
    transition: all 0.3s ease;   
    

}
.card-list .card-item .card-link:hover{
    transform: translateY(-3px);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.575);
}
.card-list .card-item .card-link:active{
    cursor: grabbing; /*fecha mão cursor*/
}
.card-list .card-item .card-link:hover{
    border-color: #C4D2D2;    
}
.card-list .card-link {
    list-style: none;
}
.card-list .card-link .card-image{
    width: 100%;
    display:block;
    aspect-ratio: 16/9;
    object-fit: cover;
    border-radius: 10px;
}
.card-list .card-link .badge{

    color: #5372F0;
    padding: 8px 16px;
    font-size: 0.95rem;
    font-weight: 500;
    margin: 8px 0px;
    background: #DDE;
    width: fit-content;
    border-radius: 50px;
    
    
}
.card-list .card-link .card-title{

    color: #000;
    font-size: 1.19rem;
    font-weight: 600;
    text-align: left;
}
/*.card-list .card-link .card-button{

    height: 35px;
    width: 35px;
    color: #000000;
    border-radius: 50%;
    margin: 30px 0 5px;
    background: none;
    cursor: pointer;
    border: 2px solid #00000083; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.575); /* Sombra externa */
    /*transition: all 0.4s ease;
    
}*/    
/*.card-list .card-link:hover .card-button{
    transform: translateY(-3px);
    color: #fff;
    background: #C4D2D2;

}*/

.card-wrapper .swiper-pagination-bullet{
    height: 13px;
    width: 13px;
    opacity: 0.5;
    background:#5372F0;
    overflow: hidden;
}

.card-wrapper .swiper-pagination-bullet-active{
    opacity: 1;
}
.card-wrapper swiper-slide-button{
    color: #5372F0;
    margin-top: -35px;
}
.card-wrapper{
    max-width: 1200px;
    margin: 0 80px 35px;
    padding: 20px 10px;
    overflow: hidden;
}

.imgvers{
    background-image: linear-gradient(to right,
    rgba(21,38,89,1) 0%,
    rgba(21,38,89,0.8) 30%,
    rgba(69,76,115,0.4) 70%,
    rgba(69,76,115,0));
    background-size: cover;
    width: 100vw;
    height: 92vh;
    display: flex;
    align-items: center;
    justify-content: center;    
    opacity: 1;  
    z-index: 10;
}
.versiculo{
   
    text-align: center;
    color: #fff;
    text-shadow: #000 1px 2px 5px;
      padding: 2rem;
    /*width: 100%; max-width: 800px;min-width: 320px;*/
    width: 92vw;
    /*background-color: rgba(133, 141, 166, 0.068);  opcional: melhora leitura sobre a imagem */
    border-radius: 8px;
    font-family: "Matangi", sans-serif;
 

}

.versiculo h1{
    font-size: 2rem;
    margin-bottom: 1rem;
    font-weight: normal;
}

.versiculo p {
    
    font-size: 1.2rem;
    margin-bottom: 1rem;
    font-weight: normal;
    text-align: center;
    /*margin-left: 50%; para colocar à direita junto com o text-align:center*/
}

.social-bar{
    background-color:#C4D2D2;
    display: flex;
    align-items: center;
    padding: 0 20px;
    margin-top: 0vw;
    width: 100vw;
    height: 9vh;
    background-size: cover;
    position:  sticky;    
    z-index: 1000;
 
}
.social-bar a{
    margin-left: 0.5rem;
}
.social-link{
    text-decoration: none;
}
.social-icones{

  display: flex; 
  align-items: center;  
  gap: 2rem;
  transform: translateX(5.2rem);  
  
}
.social-icones .social-link{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    width: 2.5rem;
    font-size: 25px;
    color: white;
    border-radius: 50%;
    transition: all 0.3s ease; 
    
}

.social-icones .social-link:hover{
    opacity: 0.8;
    transform: translateY(-3px);
    box-shadow: 0 8px 15px rgb(0, 0, 0);
    
}
#instagram{
    background: linear-gradient(#7f37c9, #ff2992, #ff9807);
}

#facebook{
    background: linear-gradient(#4267b3);

}

#youtube{
    background: linear-gradient(#FF0033);

}


nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: #23232e;
    height: 25vh;    
    /*fiz uma alteração aqui para colocar sombra na Nav*/
    position: relative;
    box-shadow: 0 3px 10px #d2c4c4;
    transition: box-shadow 0.3s ease;  
    white-space: nowrap;  
    width: 100%;     
}
    nav:hover {
    box-shadow: 0px 5px 10px #C4D2D2;
    z-index: 10;
}
/*até aqui*/

.nav-list{
    list-style:none;
    display: flex; 
    z-index: 10;    
}


.nav-list li{
    letter-spacing: 3px;
    margin-left: 32px;
    transition: all 0.3s ease;
    display: inline-block;  
}

.nav-list li:hover{
    transform: translateY(-3px) scale(1.2) ;    
}
.nav-list li a:hover{
    transform: translateY(-3px) scale(1.2) ;    
    color: #8adceb; /* Cor ao passar o mouse */
    font-weight:bolder;
}
.mobile-menu{
    display: none;
    cursor: pointer;
}
.mobile-menu div{
    width: 32px;
    height: 2px;
    background:#fff;
    margin: 8px;
    transition: 0.3s;
}

.footer-cont {
    display: flex;
    background-color:#23232e ;    
    width: 100%;
    justify-content: space-around;
    height: auto;  
    margin-bottom: 0; 
    position: relative;
    z-index: 10;  
    align-items: center;   
    
}
.footer-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 0.5rem 3.5rem;
  align-items: center;
  gap: 2rem;
  overflow-x: hidden;
  
}

.footer-link{
    text-decoration: none;
}
.footer-icones{

  display: flex; 
  align-items: center;  
  gap: 2rem;  
  justify-content:center;
  margin-bottom: 20px;
  margin-top: 0.6rem;
}
.footer-icones .footer-link{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
    font-size: 15px;
    color: white;
    border-radius: 50%;
    transition: all 0.3s ease; 
    
}

.footer-icones .footer-link:hover{
    opacity: 0.8;
    transform: translateY(-3px);
    box-shadow: 0 8px 15px rgba(255, 255, 255, 0.575);
}

.dados-footer h1{
    text-align:center;    
    font-size: 1rem;
    line-height:1; 
    margin-top: 1rem; 
    color: white;
    font-family: "Matangi", sans-serif;
    font-size: 12px;    
}
#logo-footer img{
    display: inline-block;
    width:100px;    
    height: 80px;
    z-index: 10;        
    
}

.footer-content a{
    text-align: center;
}


.footer-copyright{
    justify-content: space-around;
    display: flex;
    background-color: #000;
    color: white;
    bottom: 0;
    width: 100%;
    font-size: 12px;
    align-items: center;
    height: 15px;
    position:absolute;
    z-index: 10;
    opacity: 0.6;
    
}
@media (max-width:480px){
      nav{
       height:20vh;
       padding-top:3.5rem;
       padding-bottom: 3rem;
       margin:0; 
       padding: 0; 
    }

    .nav-list{
        
        position:absolute;
        left: 0;        
        top: 25vh;
        right: 0;
        width: 100%;
        height:66vh;
        background: #CED6FB;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translateX(100%);
        transition: transform 0.3s ease-in;
        z-index: 10;   
        overflow-y: auto;          
}

    .social-icones {

        margin-left: 0rem;
    }
    .nav-simbolos{
        margin-left: -9rem;
        transform: scale(0.4);
        margin-top: 1rem;
        margin-bottom: -2rem;
    }

.nav-simbolos img{
    
  max-width: 100%;
  height: auto;
  height: 9vh;
  margin-top: 1rem;
  margin-bottom: 0.2rem;
  margin-left: 0.2rem;
  align-items: center;
  transition: all 0.3s ease;
}
.nav-simbolos img:hover{
    opacity: 0.5;
}
    .for{
        letter-spacing: 3.5px;
        font-size: 0.4rem;
        margin-left: -3.8rem !important;
        transform: translateX(-5rem);
        margin-top: -0.6rem;
        margin-bottom: 3rem;
 
}
    .gen{
        letter-spacing: 0.2rem;
        font-size: 0.7rem;
         margin-left: -6.5rem;        
         transform: translateX(-4.8rem);

}
.social-icones .social-link{
    height: 2.5rem;
    width: 2.5rem;
    font-size: 25px;    
    transform: translateX(6.8rem);
}
  
    .mobile-menu{
        display: block;
}

    .card-wrapper .swiper-slide-button{
        display: none;
}
    .card-list {
        left: -1.0px;/*movimenta o card para os lados*/
        justify-content:space-between;
        display: flex;
}

    .card-wrapper{
        max-width: 1200px;
        margin: 0 30px 35px;/*19px altera o tamanho do card*/
}   
    .nav-list.ativo{
        transform: translateX(0);
}

  .footer-content {
        grid-template-columns: 2fr;  
        display: flex;
}


    #logo-footer{
        display: inline-block;
        width:auto;    
        height: 30px ;
        z-index: 10;
        
}

    .dados-footer h1{
        justify-content:space-around;
        text-align: justify;          
        font-size: 8px;
    
}

}    
@media (max-width:768px){
        nav{
       height:20vh;
       padding-top:3.5rem;
       padding-bottom: 3rem;
       margin:0; 
       padding: 0; 
    }

    .nav-list{
        
        position:absolute;
        left: 0;        
        top: 25vh;
        right: 0;
        width: 100%;
        height:66vh;
        background: #CED6FB;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translateX(100%);
        transition: transform 0.3s ease-in;
        z-index: 10;   
        overflow-y: auto;          
}

    .social-icones {

        margin-left: -6.5rem;
    }
    .nav-simbolos{
        margin-left: -7rem;
        transform: scale(0.4);
        margin-top: 1rem;
        margin-bottom: -2rem;
    }

.nav-simbolos img{
    
  max-width: 100%;
  height: auto;
  height: 9vh;
  margin-top: 1rem;
  margin-bottom: 0.2rem;
  margin-left: 0.2rem;
  align-items: center;
  transition: all 0.3s ease;
 
}
.nav-simbolos img:hover{
    opacity: 0.5;
}
    .for{
        letter-spacing: 3.5px;
        font-size: 0.4rem;
        margin-left: -3.8rem !important;
        transform: translateX(-5.6rem);
        margin-top: -0.6rem;
        margin-bottom: 3rem;
 
}
    .gen{
        letter-spacing: 0.2rem;
        font-size: 0.7rem;
         margin-left: -6.5rem;        
         transform: translateX(-5.2rem);

}
.social-icones .social-link{
    height: 2.5rem;
    width: 2.5rem;
    font-size: 25px;    
    transform: translateX(6.8rem);
}
  
    .mobile-menu{
        display: block;
}

    .card-wrapper .swiper-slide-button{
        display: none;
}
    .card-list {
        left: -1.0px;/*movimenta o card para os lados*/
        justify-content:space-between;
        display: flex;
}

    .card-wrapper{
        max-width: 1200px;
        margin: 0 30px 35px;/*19px altera o tamanho do card*/
}   
    .nav-list.ativo{
        transform: translateX(0);
}

  .footer-content {
        grid-template-columns: 2fr;  
        display: flex;
}


    #logo-footer{
        display: inline-block;
        width:auto;    
        height: 30px ;
        z-index: 10;
        
}

    .dados-footer h1{
        justify-content:space-around;
        text-align: justify;          
        font-size: 8px;
    
}

}   
@media (min-width:768px) and (max-width:1024px){

nav{
    height: 15vh;    
    width: 100%; 
  
}
    nav:hover {
    box-shadow: 0px 5px 10px #ffffff;
    z-index: 10;
}
    .social-bar{
        height: 5vh;
    }
 
    .nav-simbolos{
        margin-left: -6.8rem;
        margin-top: 1.5rem;
        transform: scale(0.5);
    }
.nav-simbolos img{
    
  max-width: 100%;
  height: auto;
  height: 5vh;
  justify-content:space-around;
  margin-bottom: 8px;
  margin-left: 0.2rem;
  align-items: center;
  transition: all 0.3s ease;
   transform: translateX(10rem);
}
.nav-simbolos img:hover{
    opacity: 0.5;
}
.nav-list a{
    padding-left:1rem;
}
    .nav-simbolos{       
        margin-top: 0.0rem;
        transform:scale(0.5);
    }
    .for{
        letter-spacing: 0.1rem;
        font-size: 0.3rem;
        margin-left: -2rem;
        transform: translateX(1.5rem);
 
}
    .gen{
        letter-spacing: 0.2rem;       
        font-size: 0.6rem;
         transform: translateX(1.5rem);
         margin-top: -1rem;
}
.social-icones{
    transform: translateX(1.5rem);
}
.social-icones .social-link{
    height: 2.5rem;
    width: 2.5rem;
    font-size: 25px;   
}

.social-bar{
    height: 11vh;
}
.social-bar a{
    margin-left: -0.7rem;
}

    .footer-content{
    grid-template-columns: repeat(2, 1fr);
    gap:1rem;
}
    .footer-content img{
    width: 140px;
}

    .social-footer img{
    width: 40px;

}
    .dados-footer h1{
        justify-content:space-around;
        text-align: justify;  
        margin-left: 80px;
        font-size: 8px;
    
}

}
@media (min-width:1024px) and (max-width:1439px){
nav{
    height: 30vh;    
    width: 100%; 
  
}
    nav:hover {
    box-shadow: 0px 5px 10px #ffffff;
    z-index: 10;
}
.nav-list a{
    padding:2rem;
    margin-top: -2rem;
}
    .social-bar{
        height: 15vh;
    }
 
.nav-simbolos{
    margin-left: -2.8rem;
    margin-top: 1.5rem;
    transform: scale(0.5);
}
.nav-simbolos img{
    
  max-width: 100%;
  height: auto;
  height: 15vh;
  justify-content:space-around;
  margin-bottom: 1.3rem ;
  margin-left: 1.8rem;
  align-items: center;
  transition: all 0.3s ease;
  transform: translateX(3.7rem);
 
}
.nav-simbolos img:hover{
    opacity: 0.5;
}
    .nav-simbolos{
        margin-left: -8.8rem;
        margin-top: -1.0rem;
        transform:scale(0.5);
    }
    .for{
        letter-spacing: 0.1rem;
        font-size: 0.7rem;        
        transform: translateX(-5.7rem);
        
 
}
    .gen{
        letter-spacing: 0.45rem;        
        font-size: 1.4rem;
        transform: translateX(-5.4rem) ;
        margin-top: -2rem;

}
    .footer-content{
    grid-template-columns: repeat(2, 1fr);
    gap:1rem;
}
    .footer-content img{
    width: 140px;
}

    .social-footer img{
    width: 40px;

}
    .dados-footer h1{
        justify-content:space-around;
        text-align: justify;  
        margin-left: 80px;
        font-size: 8px;
    
}

}
@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to {

        opacity:1;
        transform: translateX(0);
    }
    
}
    body.overlay-ativo main,
    body.overlay-ativo footer {
    display: none;
}
.mobile-menu.ativo .line1{
    transform: rotate(-45deg) translate(-8px, 8px);

}
.mobile-menu.ativo .line2{
    opacity: 0;
    
}
.mobile-menu.ativo .line3{
    transform: rotate(45deg) translate(-5px, -7px);
}


