@charset "UTF-08";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Matangi:wght@300..900&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


*{
    padding: 0;
    margin: 0;
    font-family:"Montserrat", sans-serif;
    box-sizing: border-box;
    letter-spacing: 1px; 
 
}

header{
    position: sticky;
    top: 0;
    z-index: 10;
}
html {
  overflow-x: hidden;
  width: 100%;
  max-width: 100%;  
  height: 100%;
  margin: 0;
  min-height: 100vh;
}

body{
    background: #F2F2F2 ;
    background-size: cover;
    z-index: 10;
    display: flex; /*leva o footer para o fundo da página*/
    flex-direction: column;/*leva o footer para o fundo da página*/
    background: linear-gradient(#ECEFFE, #CED6FB);
    justify-content:space-between;
    overflow-x: hidden;
    height: 100%;    
    position: fixed;  
}
main{
    background: #F2F2F2 ;
    background-size: cover;    
    flex: 1;  
    z-index: 1;
    position: relative;
    
}
.nav-bar {
  position: fixed;  
  width: 100%;
  z-index: 1000;
}

.nav-bar a{
    color: white;
    text-decoration: none;
    transition: 0.3s;
    text-align:end;
}                                                                         
.nav-bar a:hover{
    opacity: 0.7;
}
p{
    font-family:"Montserrat", sans-serif;
    color: #fff;
    font-weight: bold;
    letter-spacing: 3.5px;
    margin: -10px 0px 10px 0px;
    font-size: 25px;
    justify-content: space-around;
}
a{
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
    text-align:end;
}                                                                                                                                                                                                                                   
.home a{
    
    text-decoration: none; 
    text-align: right;
    color: blue;
    display: grid;
    font-size: 20px;
    margin-right: 5%;
    padding-top: 5%;
    font-weight: normal;
    
}
a:hover{
    opacity: 0.7;
}

.gen{
    font-family:"Montserrat", sans-serif;
    color: #fff;
    font-weight: bold;
    letter-spacing: 3.5px;
    margin: -10px 0px 10px 0px;
    font-size: 25px;
    justify-content: space-around;
}
.for{
    font-family:"Montserrat", sans-serif;
    color: #fff;
    font-weight: bold;
    letter-spacing: 3.5px;
    margin: -10px 0px 10px 0px;
    font-size: 15px;
    justify-content: space-around;
}

img.logo {
    
  max-width: 100%;
  height: auto;
  /* elimina espaços em linha nos navegadores */
}

.social-bar{
    background-color:#C4D2D2;
    display: flex;
    align-items: center;
    padding: 0 20px;
    margin-top: 0vw;
    width: 100vw;
    height: 9vh;
    background-size: cover;
    position:  sticky;
    
    z-index: 1000;
 }


.social-link{
    text-decoration: none;
}
.social-icones{

  display: flex; 
  align-items: center;  
  gap: 2rem;  
  
}
.social-icones .social-link{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    width: 2.5rem;
    font-size: 25px;
    color: var(--color-neutral-40);
    border-radius: 50%;
    transition: all 0.3s ease; 
}

.social-icones .social-link:hover{
    opacity: 0.8;
    transform: translateY(-3px);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.575);
}
#instagram{
    background: linear-gradient(#7f37c9, #ff2992, #ff9807);
}

#facebook{
    background: linear-gradient(#4267b3);

}

#youtube{
    background: linear-gradient(#FF0033);

}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: #23232e;
    height: 25vh;    
    /*fiz uma alteração aqui para colocar sombra na Nav*/
    position: relative;
    box-shadow: 0 3px 10px #C4D2D2;
    transition: box-shadow 0.3s ease;  
    white-space: nowrap;       
}
    nav:hover {
    box-shadow: 0px 5px 10px #C4D2D2;
    z-index: 10;
}
/*até aqui*/

.nav-list{
    list-style:none;
    display: flex; 
    z-index: 10;    
}


.nav-list li a{
    letter-spacing: 3px;
    margin-left: 32px;
    transition: all 0.3s ease;
     display: inline-block;
       
}

.nav-list li a:hover{
    transform: translateY(-3px) scale(1.2) ;    
    color: #8adceb; /* Cor ao passar o mouse */
    font-weight:bolder;
}
.mobile-menu{
    display: none;
    cursor: pointer;
}
.mobile-menu div{
    width: 32px;
    height: 2px;
    background:#fff;
    margin: 8px;
    transition: 0.3s;
}

.footer-cont {
    background-color:#23232e ;    
    width: 100vw;
    justify-content: space-around;
    height: auto;
    
}
.footer-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 0.5rem 3.5rem;
  align-items: center;
  gap: 2rem;
}
.logo-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
}
.footer-link{
    text-decoration: none;
}
.footer-icones{

  display: flex; 
  align-items: center;  
  gap: 2rem;  
  justify-content: center;
}
.footer-icones .footer-link{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    width: 2.5rem;
    font-size: 25px;
    color: var(--color-neutral-40);
    border-radius: 50%;
    transition: all 0.3s ease; 
    
}

.footer-icones .footer-link:hover{
    opacity: 0.8;
    transform: translateY(-3px);
    box-shadow: 0 8px 15px rgba(255, 255, 255, 0.575);
}

.footer-content h1{
    text-align: justify;    
    font-size: 1rem;
    line-height:1; 
    margin-bottom: 1rem; 
    color: white;
    font-family: "Matangi", sans-serif;
    font-size: 14px;    
}
.logofooter{
    width:100%;
    height: auto;
    
}
.social-footer{
  width:100%;
  display: flex;   
  gap: 1.5rem;
  justify-content:center;
  
}
.footer-content a{
    text-align: center;
}
.social-footer img {
  
  width: 30px;
  height: 40px;
  transition: box-shadow 0.3s ease;  
  transition: all 0.3s ease;   

}
.social-footer img:hover{
    transform: translateY(-3px);   
}

.footer-copyright{
    justify-content: center;
    display: flex;
    background-color: #000;
    color: white;
    padding: 1rem;
    font-weight: 100;
    font-size: 12px;
    align-items: center;
    height: 1px;
    
}
@media screen and (max-width:999px){

    .nav-list{
        
        position:fixed;
        left: 0;  
        bottom: 0;      
        top: 34vh;
        right: 0;
        width: 100%;
        background: #CED6FB;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translateX(100%);
        transition: transform 0.3s ease-in;
        z-index: 20; 
        overflow-y: auto;          
        
        
    }
    .nav-list li{
        margin-left: 0;
        opacity: 0;
} 

    .nav-list a{
        display: inline-block;
        transition: transform 0.3s ease, color 0.3s ease;
    }
    .nav-list li a:hover{
  color: #5107fd; /* Cor ao passar o mouse */
  transform: scale(1.2); 
  font-weight:bolder;
}
    .nav-bar{
                transition: all 0.3s ease;  
                z-index: -10;
}

   .nav-bar a{
    color: #000;
}        
    .mobile-menu{
        display: block;
}


.nav-list.ativo{
    transform: translateX(0);
}
.footer-content img{
    width: 140px;
}
.social-footer img{
    width: 40px;
    text-align: center;
    display:flex;
}
  .footer-content {
    grid-template-columns: 1fr;  
    display: flex;
  }

  .logo-container{
    align-items: center;
  }
  .logo-footer{
    align-items: right;
    margin-left: -30px;
  }

  .dados-footer h1{
    justify-content: left;  
    margin-left: 80px;
    
  }

  .social-footer {
    justify-content: center;
    margin-left: 40px;

  }
}
    

@media screen and (min-width: 726px) {


.footer-content{
    grid-template-columns: repeat(2, 1fr);
    gap:1rem;
}
.footer-content img{
    width: 140px;
}

.social-footer img{
    width: 40px;
}
}

@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to {

        opacity:1;
        transform: translateX(0);
    }
    
}
    body.overlay-ativo main,
    body.overlay-ativo footer {
    display: none;
}

.mobile-menu.ativo .line1{
    transform: rotate(-45deg) translate(-8px, 8px);

}
.mobile-menu.ativo .line2{
    opacity: 0;
    
}
.mobile-menu.ativo .line3{
    transform: rotate(45deg) translate(-5px, -7px);
}
